.form-basic {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 3rem;
  background-color: #252525;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.form-basic h1 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
.form-basic form {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
  font-size: 0.9rem;
}
.form-basic label {
  display: block;
  margin-bottom: 0.3rem;
}
.form-basic input,
.form-basic textarea,
.form-basic button[type="submit"] {
  border: none;
  border-radius: 5px;
  letter-spacing: 0.015rem;
  color: #ececec;
  margin-bottom: 1rem;
}
input:focus,
textarea:focus {
  border: none;
  outline: 1px solid #444;
}
.form-basic input,
.form-basic textarea {
  padding: 0.7rem 1.3rem;
  width: 100%;
  background-color: #161616;
}
.form-basic button[type="submit"] {
  width: 100%;
  padding: 0.8rem 1.5rem !important;
  background-color: #016320;
  cursor: pointer;
}
.form-basic input::placeholder {
  color: #343434;
}
.form-basic textarea {
  height: 5rem;
  resize: none;
}
.form-basic fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border: 1px solid #444;
  padding: 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
}
.form-basic fieldset label.radio {
  width: 100%;
}

.form-basic fieldset input[type="radio"] {
  width: 30px;
  padding: 0;
  margin: 0;
}
legend {
  color: #14c04b;
  text-align: center;
}
