h3,
h4 {
  margin: 0;
  padding: 0;
}
.travel-blog-container {
  width: 100%;
  max-width: 700px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 10px;
  cursor: pointer;
  background-color: #1e1e1e;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.travel-blog-container > .hero-img-wrapper {
  display: block;
  flex: 1; /* One fourth */
}
.travel-blog-container > .hero-img-wrapper img {
  border-radius: 5px;
}

.travel-blog-container > .contents {
  flex: 3; /* Three fourths */
  text-align: left;
  padding: 1.5rem 1rem 1.5rem 0;
}
.tag-container {
  display: flex;
  align-items: center;
  font-size: 0.9rem !important;
  margin-bottom: 0.5rem;
}
.travel-blog-container h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.travel-blog-container .date {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.travel-blog-container .body {
  font-size: 0.8rem;
}
.tag-container a,
.tag-container h4 {
  font-weight: 400 !important;
}
.locationDot {
  color: #e66;
}
.tag-container h4 {
  margin-left: 0.5rem;
}
a {
  margin-left: 1rem;
}

/* On larger screens */
@media (min-width: 600px) {
  .travel-blog-container {
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }
}
