.header {
  border-bottom: 1px solid #3a3a3a;
  padding: 1rem 0 2rem;
}
.header a {
  color: inherit;
}
.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.site-logo > img {
  width: 100%;
  max-width: 60px;
  filter: invert(100%) brightness(100%) grayscale(100%);
}
.site-logo > h1 {
  font-family: "Arizonia", cursive;
  /*   font-family: "Kaushan Script", cursive; */
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
}
