#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px; /* Optional: adds space between items */
}
.contact-card {
  background-color: #151515;
  padding: 2rem;
  border-radius: 7px;
  text-align: left;
}
